<div class="container">
  <h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
  <h2>
    <%= pluralize @restaurant.reviews.size, "review" %>
  </h2>

  <!-- beforebegin -->
  <div id="reviews">
    <!-- afterbegin -->
    <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
    <% if @restaurant.reviews.blank? %>
      Be the first to leave a review for <%= @restaurant.name %>
    <% else %>
      <h2>Reviews</h2>
      <% @restaurant.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
    <!-- beforeend -->
  </div>
  <!-- afterend -->
</div>

